body {
    width: 100%;
    margin: 0;
    background-size: 100%;
    background-image: url(https://www.itl.cat/pngfile/big/40-406595_monster-high-wallpapers-monster-high-background.jpg);
}

h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
}

#tarjeta1 {
    border: 30px solid;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
}
#tarjeta2 {
    border: 30px solid;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    display: flex;
    
    flex-wrap: wrap;
}

img {
    width: 100%;
}